$background: #EEEEEE;

// $navBackground: #002B7F;
$navBackground: #fff;
$navFontSize:  19px;
$navFontWeight:400;
$navActiveColor:#1e5087;
// $navColor:#fff!important;
$navColor:#CE1126 ;


$fontFamily:'Hanuman';


