.main-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  // border-bottom: 1px solid #eee;
  //   background-color: #009900;
  background-color: #fff;
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 10;
  font-family: Koulen, Arial, Helvetica, sans-serif;
  .nav {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    max-height: 41px;
    min-height: 41px;
    .home {
      font-size: 18px;
    }
    .flex-1 {
      flex: 1;
    }
    ul#main-navigation {
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0;
      padding: 0;
      //   padding-top: 4px;
      li.menu-item {
        // color: rgba(255, 255, 255, 0.8);
        color: #222222;
        padding: 6px 16px;
        font-weight: 400;
        font-size: 18px;
        text-align: inherit;
        text-transform: capitalize;
        display: flex;
        position: relative;
        // border-bottom: 3px solid #fff;
        top: 1px;
      }
      li.menu-item:first-child {
        padding-left: 0;
      }
      li.menu-item:hover {
        cursor: pointer;
        span {
          color: #009900;
        }
      }
    }

    .search {
      display: flex;
      align-items: center;
      color: #222222;
    }
  }
}

.active {
  color: #009900 !important;
  // border-bottom: 3px solid #009900 !important;
}

.icon-header-menu {
  display: flex;
  align-items: center;
  color: #222;
  display: none;
}

.icon-home {
  padding: 8px;
}

// .box-search {
//   // width: 340px;
//   margin-bottom: 1rem;
//   background-color: #ffffff;
//   height: 58px;
//   position: relative;
//   .search-result {
//     position: absolute;
//     top: 61px;
//     right: -2px;
//     z-index: 15;
//     background-color: #fff;
//     border: 1px solid #e0e0e0;
//     border-radius: 5px;
//     padding: 0 10px;
//     .box-search-content {
//       font-family: Hanuman, Arial, Helvetica, sans-serif;
//       display: flex;
//       justify-content: space-between;
//       .title-content-search {
//         padding: 5px;
//         h4 {
//           margin: 0;
//           font-size: 13px;
//         }
//         p {
//           margin: 0;
//           font-size: 11px;
//         }
//       }
//       .img-search {
//         img {
//           width: 80px;
//         }
//       }
//     }
//   }
// }



.icon-search {
  color: #4684C3;
}

::ng-deep.mat-form-field-infix {
  padding: 0 !important;
  border-top: 0 !important;
}
::ng-deep.mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #fff !important;
}

::ng-deep
  .mat-form-field-appearance-outline
  .mat-focused
  .mat-form-field-outline-thick {
  color: #fff !important;
}

.icon-t {
  display: flex;
  align-items: center;
}
.icon-search-test {
  color: #222;
  cursor: pointer;
}

form {
  display: flex;
  align-items: center;
  padding: 0 10px;
  // border: 1px solid #eee;
  position: relative;
  border: 1px solid transparent;
  border-radius: 20px;
  background: #fff;
  background-clip: padding-box;
}

form::after {
  position: absolute;
  top: -3.5px;
  bottom: -3.5px;
  left: -3.5px;
  right: -3.5px;
  background: linear-gradient(to right, #61c69d 0%, #2d72bc 100%);
  content: "";
  z-index: -1;
  border-radius: 25px;
}

::ng-deep.mat-autocomplete-panel{
  top: 11px;
}
::ng-deep.mat-option{
  font-family: "Battambang", Arial, Helvetica, sans-serif !important;
  font-size: 14px;
}