<footer class="section--footer" [style.padding-bottom.px]="adHeight">
    <div class="adv-footer" (resized)="onAdReside($event)" [ngClass]="{'show-scroll': showScroll}" >
        <img src="{{adsfooter?.footer?.fileurl}}" alt="">
    </div>
    <div class="footer-container">
        <div class="widget">
            <img src="../../../assets/img/logo.png" alt="Ads" class="img-footer">
            <div class="address-footer">
                <div class="footer-cate">
                    <span><i class="material-icons">add_location</i></span> #HH36, St 265, Sangkat Teok Laok III, Khan
                    Toul Kork
                </div>
                <div class="footer-cate">
                    <span><i class="material-icons">email</i></span> sam.businesscambodia@gmail.com
                </div>
                <div class="footer-cate">
                    <span><i class="material-icons">phone</i></span> (+855) 92850854
                </div>
            </div>

        </div>
        <div class="widget padding-w">
            <div class="widget--title">
                <div class="w-t">
                    POPULAR CATEGORY
                </div>
                <div class="w-icon"></div>
            </div>
            <ul class="widget--list">
                <li class="li-w-list">
                    <div class="li-title" [routerLink]="['/post/q7SMDEyZETYCvZDt8NNU']">
                        ព័ត៌មាន
                    </div>
                </li>
                <li class="li-w-list">
                    <div class="li-title" [routerLink]="['/post/vfP6KbkHcnmNHZnLhyW3']">
                        ជំងឺ
                    </div>
                </li>
                <li class="li-w-list">
                    <div class="li-title" [routerLink]="['/post/lgVvpzGmCiys3k9eylFq']">
                        គ្រូពេទ្យ
                    </div>
                </li>
                <li class="li-w-list">
                    <div class="li-title" [routerLink]="['/post/DFkxiMAkFrxA3Qw5uCMd']">
                        មន្ទីរពេទ្យ
                    </div>
                </li>
                <li class="li-w-list">
                    <div class="li-title" [routerLink]="['/post/DN1ntsqgz7MQbvZ65juI']">
                        អាហារ
                    </div>
                </li>
                <li class="li-w-list">
                    <div class="li-title" [routerLink]="['/post/KguAud8xbnLqF4KTAcbr']">
                        ហាត់ប្រាណ
                    </div>
                </li>
                <li class="li-w-list">
                    <div class="li-title" [routerLink]="['/post/vXEVr8vr6jQusyTPpcxw']">
                        កុមារ
                    </div>
                </li>
                <li class="li-w-list">
                    <div class="li-title" [routerLink]="['/post/tqinYPs1Kd7IZHsDxCkL']">
                        បច្ចេកវិទ្យា
                    </div>
                </li>
                <li class="li-w-list">
                    <div class="li-title" [routerLink]="['/post/FcMvC7mMQWkTET9o7izV']">
                        គំនិតរកស៊ី
                    </div>
                </li>
            </ul>
        </div>
        <div class="widget padding-w">
            <div class="widget--title p-at-1">
                <div class="w-t">
                    បណ្តាញសង្គម
                </div>
                <div class="w-icon"></div>
            </div>

            <ul class="widget--list">
                <iframe
                    src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fhealthycambodia2020%2F%3Fmodal%3Dadmin_todo_tour%26_rdc%3D1%26_rdr&tabs&width=330&height=214&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=553652511885777"
                    width="330" height="214" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                    allowTransparency="true" allow="encrypted-media">
                </iframe>
            </ul>
        </div>
    </div>
</footer>